.bg-header {
	margin-left: -8px;
	margin-top: -8px;
}

.nav-header {
	font-family: Oswald;
	font-weight: 400;
	font-size: 14px;
	color: white;
	position: relative;
	float: right;
	top: -838px;
	padding-right: 64px;
}



.number-1 {
	font-family: Oswald;
	font-size: 36px;
	font-weight: 700;
	color: white;
	text-decoration: line-through;
	text-decoration-color: #4CAF50;
	position: relative;
	top: 330px;
	left: 45%;
}

.number-2 {
	font-family: Oswald;
	font-weight: 700;
	font-size: 18px;
	color: #777777;
	margin-left: 9px;
	text-align: bottom;
	position: relative;
	top: 330px;
	left: 45%;
}

h1 {
	font-family: Oswald;
	font-weight: 500;
	font-size: 72px;
	color: white;
	text-align: center;
	margin-top: -600px;
	margin-bottom: 0px;
}

h3 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 42px;
	color: #504E4E;
}

h4 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	color: white;
	text-align: center;
}

h5 {
	font-family: Oswald;
	font-weight: 700;
	font-size: 36px;
	color: #333;
}

.h5-bitmap {
	margin-left: 100px;
	margin-bottom: 0;
	margin-top: 645px;
}

.h3-bitmap {
	margin-left: 100px;
	margin-top: 4px;
}

.img-bitmap {
	position: relative;
	top: -250px;
	left: 280px;
	z-index: 2s;
}

.img-bitmap2 {
	position: relative;
	z-index: 0;
	left: 80px;
	top: -90px;
}

.img-greenbox {
	position: relative;
	z-index: 99;
	left: 180px;
	top: -170px;
	z-index: 1;
}

.lorem-bitmap, .lorem-bitmap2 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 15px;
	color: #5B5858;
}


.lorem-bitmap {
	position: relative;
	top: -450px;
	left: 120px;
}

.lorem-bitmap2 {

	float: right;
	margin-right: 40px;
	margin-top: -330px;
	z-index: 3;
}
