.bg-header {
	margin-left: -8px;
	margin-top: -8px;
}

.nav-header {
	font-family: Oswald;
	font-weight: 400;
	font-size: 14px;
	color: white;
	position: relative;
	float: right;
	top: -838px;
	padding-right: 64px;
}



.number-1 {
	font-family: Oswald;
	font-size: 36px;
	font-weight: 700;
	color: white;
	text-decoration: line-through;
	text-decoration-color: #4CAF50;
	position: relative;
	top: 330px;
	left: 45%;
}

.number-2 {
	font-family: Oswald;
	font-weight: 700;
	font-size: 18px;
	color: #777777;
	margin-left: 9px;
	text-align: bottom;
	position: relative;
	top: 330px;
	left: 45%;
}

h1 {
	font-family: Oswald;
	font-weight: 500;
	font-size: 72px;
	color: white;
	text-align: center;
	margin-top: -600px;
	margin-bottom: 0px;
}

h4 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	color: white;
	text-align: center;
}


@media screen and (min-width: 1200px) {
	.bg-header {
		height: 900px;
		width: 102%;
	}

	.nav-header {
		right: 100px;
	}

	.number-1 {
		
	}
}

@media screen and (max-width: 1199px) {
	.bg-header {
		height: 900px;
		width: 102%;
	}

	.nav-header {
		right: 100px;
	}

	h1 {
		font-size: 65px;
	}

	h4 {
		font-size: 18px;
	}
}

@media screen and (max-width: 1023px) {
	.bg-header {
		height: 700px;
		width: 102%;
	}

	.nav-header {
		top: -680px;
		right: 0;
	}

	h1 {
		margin-top: -450px;
		margin-bottom: 0px;
		font-size: 57px;
	}

	h4 {
		margin-top: 0;
	}

	.number-1, .number-2 {
		top: 230px;
	}
}

@media screen and (max-width: 799px) {
	.bg-header {
		height: 700px;
		width: 102%;
	}

	.nav-header {
		font-size: 14px;
		top: -680px;
		right: 0;
	}

	h1 {
		font-size: 44px;
	}
	h4 {
		font-size: 16px;
	}

	.number-1, .number-2 {
		top: 210px;
	}
}

@media screen and (max-width: 559px) {
	.bg-header {
		height: 700px;
		width: 102%;
	}

	.nav-header {
		top: -680px;
		right: 10px;
		padding-right: 30px;
	}

	h1 {
		font-size: 38px;
	}
	h4 {
		font-size: 15px;
	}
	.number-1, .number-2 {
		left: 40%;
	}
}

@media screen and (max-width: 375px) {
	.bg-header {
		height: 700px;
		width: 102%;
	}

	.nav-header {
		top: -680px;
		right: 5px;
		padding-right: 10px;
	}

	h1 {
		font-size: 35px;
	}
	h4 {
		font-size: 14px;
	}
	.number-1, .number-2 {
		left: 35%;
	}
}